# Example docker compose file

version: '3.1'

#-# Define the network
networks:
  your-network:

#-# Define services
services:
  ## Mailcatcher, for testing email features (DEV ONLY)
  # This service is used in DEV only
  mailcatcher:
    image: docker.io/cliffordw/mailcatcher:0.10.0-release.3
    networks:
      your-network:
    ports:
      - "2525:2525"
      - "8080:8080"
    restart: on-failure
